@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
.clock {
  font-family: 'Fira Code', monospace;
  color: #880e4f;
  margin-bottom: 0px;
  margin-top: 25px;
  font-size: 98px;
}
