
<h1 class="clock">{{currentTime | date:'yyyy-MM-dd'}}</h1>
<h1 class="clock">{{currentTime | date:'HH:mm:ss aa'}}</h1>

<app-clock-bar class="clock-bar" [percent]="secondsPercentage" text="{{currentTime | date:'ss'}}"></app-clock-bar>
<app-clock-bar class="clock-bar" [percent]="minutesPercentage" text="{{currentTime | date:'mm'}}"></app-clock-bar>
<app-clock-bar class="clock-bar" [percent]="hourPercentage" text="{{currentTime | date:'HH'}}"></app-clock-bar>
<app-clock-bar class="clock-bar" [percent]="dayPercentage" text="{{currentTime | date:'dd'}}"></app-clock-bar>

